<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Character List</title>
</head>
<body>
<table border="1">
    <tr>
        <th>#</th>
        <th>name</th>
        <th>Feature</th>
    </tr>
    {% for character in character_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ character.name }}</td>
        <td>{{ character.feature }}</td>
        <td></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>